{% if paginated.paginator.num_pages > 1 %}
    {% if paginated.has_previous %}
        <a href="?page={{ paginated.previous_page_number }}">&lt; Previous</a> &middot;
    {% endif %}
    Page {{ paginated.number }} of {{ paginated.paginator.num_pages }}
    {% if topics.has_next %}
        &middot; <a href="?page={{ paginated.next_page_number }}">Next &gt;</a>
    {% endif %}
{% endif %}
