{% extends "converse/base.html" %}
{% load converse_tags %}

{% block content %}
<h2 class="grid_24">Topic Index</h2>

<ul class="index-actions grid_24">
<li><a href="{% url converse.views.add_topic %}">Start a new topic</a></li>
</ul>

<div class="pagination grid_24">
{% include "converse/pagination.html" with paginated=topics %}
</div>

<table class="grid_24 topiclist">
<thead>
    <tr>
        <th class="grid_15 alpha">Title</th>
        <th class="grid_4">Creator</th>
        <th class="grid_5 omega">Last Update</th>
    </tr>
</thead>
<tbody>
{% for topic in topics.object_list %}
    <tr>
        <td class="grid_15 alpha">
            <a href="{{ topic.permalink }}" class="{% if topic.has_new_items %}new{% endif %}">
                {{ topic.title }}
            </a>
        </td>
        <td class="grid_4">{% profile topic.creator %}</td>
        <td class="grid_5 omega"><a title="{{ topic.last_update }}">{{ topic.last_update|reltime }}</a></td>
    </tr>
{% endfor %}
</tbody>
</table>

<div class="pagination grid_24">
{% include "converse/pagination.html" with paginated=topics %}
</div>
{% endblock %}
