{% extends "converse/base.html" %}
{% load converse_tags %}

{% block breadcrumbs %}
/ Activate Account
{% endblock %}

{% block content %}
<h2 class="grid_24">Account Activation</h2>

<div class="prefix_6 grid_12 suffix_6">
    {% if account %}
        Your account {% profile account %} has been activated.
        You may now <a href="{% url django.contrib.auth.views.login %}">log in</a>.
    {% else %}
        Account activation failed. Please double-check that:
        <ul>
            <li>You've copied the full URL from your activation email.</li>
            <li>It has been no more than {{ expiration_days }} day(s) since you registered the account.</li>
            <li>You haven't already activated the account.</li>
        </ul>
    {% endif %}
</div>

{% endblock %}
