{% extends "converse/base.html" %}

{% block breadcrumbs %}
/ Logout
{% endblock %}

{% block content %}
<h2 class="grid_24">Logged Out</h2>

<p class="prefix_6 grid_12 suffix_6">
    You have been logged out.
    (<a href="{% url django.contrib.auth.views.login %}">Login again?</a>)
</p>

{% endblock %}
