{% extends "converse/base.html" %}

{% block breadcrumbs %}
/ <a href="{% url registration.views.register %}">Create Account</a>
{% endblock %}

{% block content %}
<h2 class="grid_24">Create Account</h2>

<form action="{% url registration.views.register %}" method="POST" class="registration-form">
{% csrf_token %}
<ul class="prefix_6 grid_12 suffix_6">
<li class="note">
    <strong>
    Fill out the fields below to register a new account.
    </strong>
</li>
<li>
    <label for="id_username">Username</label>
    {{ form.username }}
    {{ form.username.errors }}
</li>
<li>
    <label for="id_email">Email</label>
    {{ form.email }}
    {{ form.email.errors }}
</li>
<li>
    <label for="id_password1">Create Password</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
</li>
<li>
    <label for="id_password2">Repeat Password</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
</li>
</ul>
<div class="prefix_10 grid_4 suffix_10">
    <input type="submit" value="Create Account" />
</div>
</form>

{% endblock %}
