{% extends "converse/base.html" %}

{% block breadcrumbs %}
/ Account Created
{% endblock %}

{% block content %}
<h2 class="grid_24">Account Created</h2>

<p class="prefix_6 grid_12 suffix_6">
    Your account has been created, and an activation email has been sent to the address you provided.
</p>

{% endblock %}
